numpy
pandas
matplotlib
seaborn
scikit-learn
scikit-image
opencv-python
tqdm
jupytext
nltk
transformers
torch
Pillow
scipy
imagehash
imbalanced-learn
statsmodels
category_encoders
missingno
umap-learn
